.contenedorPrincipal{
    width: 70px;
    height: 70px;
    /*background-color: #000000;*/
    background-color: rgba(0, 0, 0, .9);
    border-radius: 50%;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin: 5px 5px;
    
    
   
}
.content .container .contenido-leng-herr{
    max-width: 900px;
    overflow: hidden;
    margin-bottom: 100px;
}

.content .container .contenido-leng-herr .col-12 .titulo{
    margin-top: 80px;
    margin-bottom: 40px;
}

.content .container .contenido-leng-herr .col-12 .titulo h2{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}
.content .container .contenido-leng-herr .col-12 .contenido{
    margin-top: 20px;
    width: 100%;
    
}
.content .container .contenido-leng-herr .col-12 .contenido .titulo-contenido{
    margin-bottom: 20px;
}
.content .container .contenido-leng-herr .col-12 .contenido .titulo-contenido h4{
    font-size: 20px;
    
}
.content .container .contenido-leng-herr .col-12 .contenido .info-contenido{
    width: 100%;
    background-color: red;
}
.contenedorimg{
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    border-radius: 50%;
    margin: auto;   
  
     
}
.contenedorimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*box-shadow: 1px 1px 1px #000000;*/
}


.contenedorPrincipal:hover{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}
.contenedorimg:hover{
    width: 80px;
    height: 80px;
}