@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 150vh;
}
header{
    background-image: url("../img/dark.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    
    background-attachment: fixed;
    /*clip-path: circle(190vh  at 90% -80vh);*/
    clip-path: circle(195vh at 90% -50vh);
}
header .content{
    /*max-width: 1000px;*/
    
    position: absolute;
    top: 80%;
    margin-top: 10px;
    margin-left: 70%;
    border-right: 5px solid #ffffff;
    border-bottom: none!important;
    /*text-align: center;*/
}
header .content h1{
    font-size: 35px;
    color: #ffffff;
    padding: 0px;

    margin: 0px;
}
header .content p{
    font-size: 18px;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

  .redesSociales{
      z-index: 1;
    position: relative;
    color: #ffffff;
    margin-top: -17%;
    margin-left: 5px;
}
.redesSociales .contenedor{
   overflow: hidden;
    margin-top: 10px;  
}

.redesSociales .contenedor a{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #000000;
    padding: 0px 10px;
    line-height: 40px;
    
}
.redesSociales .contenedor .social-media a{
       animation: animacionSocial 5s 1 !important;
       
        
    }
.redesSociales .contenedor .dow-up{
    overflow: hidden;
   
    
}
.redesSociales .contenedor .dow-up a{
    font-size: 22px;
    margin-top: 2px;
    margin-right: 20px!important;
    text-align: center;
    color: #ffffff;
    animation: animacionRow 2s infinite!important;
}
 .articulos{
   
    position: relative;
    margin-top:20px;
    

}
@keyframes animacionSocial{
    from{
        color: #ffffff;
        opacity: 0.1;
    }
    to{
         color: #000000;
        opacity: 1;
    }
}
@keyframes animacionRow{
    from{
        top: 5px;
        font-size: 18px;
        color: #f2f2f2;
        opacity: 0.7;
    }
    to{
        font-size: 22px;
       top: 0px;
        color: #ffffff;
    }
}

@media screen and (max-width:800px){
    header
    {
        
       max-width: 100%;
       background-image: url("../img/fondo.jpg");
       clip-path: none;
       height: 50vh;
    }
    header .content{
        width: 90%;
        margin-left: 15px;
        margin-right: 0px;
        top:75%!important;
        border-left:3px solid#ffffff;
        border-right: none;
        /*margin-bottom: 20px!important;*/
        
        
    }
    header .content h1{
        font-size: 30px;
        font-weight: bold;
    }
    header .content p{
        font-size: 15px;
    }
    .redesSociales{
        margin-top: -45px;
        display: none;
    }
     .redesSociales .contenedor .social-media{
        display: none;
    }
    
    .redesSociales .contenedor .social-media a{
        color: #ffffff;
        
    }
    .redesSociales .contenedor .dow-up{

    }
    .articulos{
        margin-top: 0px!important;
    }
    .articulos .container .row .card{
        margin-top: 20px;
    }
    .articulos .container .row .card .card-title{
        text-align: center;
        font-size: 20px!important;
        font-weight: bold!important;
        
    }
    .articulos .container .row .card .card-text{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        text-align: justify;
        line-height: 25px;
    }
    .redesSociales .contenedor .dow-up a{
    animation: animacionRow 2s infinite!important;
    }
    #dow-up{
            animation: animacionRow 2s infinite!important;
    }
    #curriculum{
        display: none;
    }
    #menu{
        margin-top: 0px!important;
    }
}

@media screen and (max-width:700px){
    header
    {
        
       max-width: 100%;
       background-image: url("../img/fondo2.jpg");
       clip-path: none;
    }
    header .content{
        width: 90%;
        margin-left: 15px;
        margin-right: 0px;
        top:85%;
        border-left:3px solid#ffffff;
        border-right: none;
        
    }
    header .content h1{
        font-size: 26px;
        font-weight: bold;
    }
    header .content p{
        font-size: 12px;
    }
     .redesSociales .contenedor .social-media{
        display: none;
    }
    .redesSociales .contenedor .social-media a{
        color: #ffffff;
    }
    .articulos{
        margin-top: 30px!important;
    }
    .articulos .container{
        width: 100%!important;
    }
    .articulos .container .row .card{
        margin-top: 20px;
    }
    .articulos .container .row .card .card-title{
        text-align: center;
        font-size: 20px!important;
        font-weight: bold!important;
        
    }
    .articulos .container .row .card .card-text{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        text-align: justify;
        line-height: 25px;
    }
    #menu{
        margin-top:35px;
    }
}


