* {
    font-family: arial;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    background: #281a0c;
    background: url('../img/space.mp4');
    background-image: url('../img/colores.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    opacity:1;
    height: 720px;
}

header .container .row  .textos{
    width: 100%;
    color: #fff;
    /*position: absolute;
    top: 75%;
    margin-top: -10px;*/
    font-weight: bold;
}
header .container{
    position: absolute;
    top: 75%;
    margin-top: -10px;
    margin-left: 15%;
}
header .container .row  .textos p{
    font-size: 15px;
    font-weight: normal;
    line-height: 20px; 
}
header .textos{
    position: absolute;
    top: 75%;
    margin-top: -10px;
    margin-left: 15%;
    color: #fff;
    font-weight: bold;
}
.navbar {
    background-color:  #ffffff;
    opacity: 1; 
  }
.content {
    margin-top: 10px;
}
.menu-padding {
    padding-top: 40px;
}
.content p {
    margin-bottom: 20px;
}
.sticky {
    /*position: fixed;
    top: 0;
    width: 100%;*/
}

.sticky+.content {
    padding-top: 60px;
}

.color-nav {
    background-color: #ffffff;
}

.cabecera-imagen{
    width:100%;
    height:720px;

}
.cabecera-imagen img{
    width:100%;
    height:100%;
}
.color-de-nav{
    background-color: red;
    opacity: 1;
}
/* modificacion de los botones del nav */
.menu-plegado ul{
color: red !important;
display: inline-block;
}
.menu-plegado ul li{
    float: left;
    margin-right: 15px;

}
.menu-plegado ul li a{
    color: #000000!important;
    text-weight:bold!important;
    font-size: 15px;
}

.menu-plegado ul li a:hover{
    color: #cccccc!important;
}

.activo{
    color: red!important;
}

.dow-up{
    margin-right: 50px;
}
.dow-up a{
    color: #cccccc;
}
#menu{
    border-bottom: 1px solid rgba(245, 245, 245, 1);
}
.titulo-menu{
    display: none;
}
.content{
    border-bottom: 1px solid rgba(245, 245, 245, 1);
}
/*Seccion Inicio*/
.content .container .row{
    align-items: center;
    max-width: 700px;
    margin:0px auto;
}
.content .container .contenido-acerca-de{
    align-items: center;
    max-width: 1000px;
    margin:0px auto;
}
.content .container .row .seccion-inicio{
/*max-width: 700px;*/

margin-top: 80px;
}
.content .container .row .seccion-inicio .contenido-inicio .row{
    max-width: 900px;
    
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .info-personal p{
line-height: 30px;
}
.content .container .row .seccion-inicio  .titulo{
    line-height:16px;
    margin-bottom: 50px;
    text-align: start;
    text-transform: uppercase;
    
}
.content .container .row .seccion-inicio  .titulo h2{
   font-size: 18px!important;
   font-weight: bold!important;
   color: #000000;
   line-height: 16px;
   font-family:sans-serif;}
.content .container .row .seccion-inicio .contenido-inicio .row .info-personal{
    padding: 0px 5px;
}
.content .container .row .seccion-inicio .contenido-inicio .row .info-personal p{
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
}

.content .container .row .seccion-inicio .contenido-inicio .row .imagen img{
    border-radius: 50%;
}


.content .container .row .seccion-frase{
    margin-top: 100px;
    align-items: center;
}

.content .container .row .seccion-frase .contenido-frase{
    text-align: center;
    padding: 0px 50px;
}
.content .container .row .seccion-frase .contenido-frase strong{
    font-weight: bold!important;
   font-family: sans-serif;
   font-size: 14px;
   
}
.content .container .row .seccion-frase .contenido-autor{
    text-align: end;
    margin-top: 10px;
}
.content .container .row .seccion-frase .contenido-autor blockquote{
    font-weight: bold;
}


.content_contacto .container{
margin-top: 60px;
}
.content_contacto .container .info-contacto{
    margin-left: 25px;
}
.content_contacto .container .info-contacto h2{
    font-size: 16px;
    font-weight: bold!important;
    font-family: sans-serif;
    margin:0px;
}
.content_contacto .container .info-contacto p{
    font-size: 14px;
}
.content_contacto .container .info-contacto .direccion{
    margin-bottom: 20px;
}
.content_contacto .container .info-ubicacion{
width: 100%;
margin: 0px auto;

}
.content_contacto .container .info-ubicacion .ubicacion{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
.content_contacto .container .info-ubicacion .ubicacion iframe{
    width: 100%;
    height: 200px;
}

.content_contacto .container .enlaces-sociales{
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    display: inline-block;  
}

.content_contacto .container .enlaces-sociales a{
    
    float: left;
    margin: 5px 5px;
    border-radius: 100%;
    padding: 15px;
    font-size: 25px;
}
.content_contacto .container .enlaces-sociales a i{
    color: #000000;
  
}
.content_contacto .container .enlaces-sociales .facebook:hover{
color: #3b5998;
}
.content_contacto .container .enlaces-sociales .twitter:hover{
    color:#00acee;
}
.content_contacto .container .enlaces-sociales .instagram:hover{
    color:#3f729b;
}
.content_contacto .container .enlaces-sociales .email:hover{
    color:#db4a39;
}
.content_contacto .container .enlaces-sociales .whatsapp:hover{
    color: #00bb2d;
}
.content_contacto .container .enlaces-sociales .likedin:hover{
    color: #0e76a8;
}

.content_contacto .container .copyright{
    justify-content: start;
    margin-top: 80px;
    margin-left: 40px;
 
    
}
.content_contacto .container .copyright a{
    color: #cccccc;
    font-family: sans-serif;
    font-weight: bold;
}
/*Seccion acerca-de*/

.header2{
    width: 100%;
    background: #281a0c;
    background: url('../img/stars.mp4');
    background-image: url('../img/espacio2.jpg');

    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    opacity:1;
    height: 200px;
}
.header2 .textos{
    position: absolute;
    top: 10%;
    margin-top: -10px;
    margin-left: 15%;
    color: #fff;
    font-weight: bold;
}

.content .container .contenido-acerca-de .otros{
margin-top: 30px;
}
.content .container .contenido-acerca-de .otros .titulo{
    margin-left: 20px!important;
    margin-top:20px;
}
.content .container .contenido-acerca-de .otros .titulo h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.content .container .contenido-acerca-de .otros .contenido-otros{
   
}
.content .container .contenido-acerca-de .otros .contenido-otros .row{
    max-width: 900px!important;
    
}
.content .container .contenido-acerca-de .otros .contenido-otros .row .info{
    max-width: 900px;
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .info-personal .titulo{
    margin-bottom: 0px;
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .info-personal .titulo p {
    line-height: 16px;
    font-size: 10px;
    text-align: start;
    text-transform: none;
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .info-personal .tecnologias{
    margin-bottom: 0px;
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .info-personal .tecnologias p{
font-size: 14px;
line-height: 16px;
text-align: start;
}
.content .container .row .seccion-inicio .contenido-inicio .proyectos{
border-bottom: 1px dotted #cccccc;   
}
.content .container .row .seccion-inicio .contenido-inicio .row .info .imagen-proyecto{
    margin-top: 40px;
}